/* Home.css */

/* NAVIGATION BAR STYLES */
.Nav_Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px ;
  background: rgba(115, 240, 185, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius:10px;
  margin:10px;
}



/* NAVIGATION LINK STYLES */
.Nav_Section {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 18px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  color: #272323;
  background: linear-gradient(135deg, #ae7d68a8, #9defff);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.Nav_Section:hover {
  background: linear-gradient(135deg, #2a97ac, #3cb4af);
  transform: translateY(-3px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

/* IMAGE STYLES */
#image_id {
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.8);
  
}

/* SEARCH SECTION STYLES */
.Search_Section {
  padding: 12px;
  border: 2px solid #3cb4af;
  border-radius: 10px;
  width: 250px;
  height:50px;
  font-weight:bold;
  font-size: 20px;
  outline: none;
  transition: all 0.4s ease-in-out;
  background: rgb(248, 247, 247);
  color: #000000;
  
}

.Search_Section:focus {
  box-shadow: 0px 0px 12px rgba(60, 180, 175, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.8);
}

/* SEARCH BUTTON */
#button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #d8e4e3, #ffffff);
  color: #090909;
  font-size: 20px;
  cursor: pointer;
  margin:10px;
  
}

#button:hover {
  background: linear-gradient(135deg, #c0d1d0, #4c7371);
 
}
